# OpenShift DPF CI Environment Configuration
# This template is processed by envsubst during CI runs

# Cluster Configuration
DEPLOYMENT_PROFILE=${DEPLOYMENT_PROFILE}
CLUSTER_NAME=${CLUSTER_NAME}
BASE_DOMAIN=${BASE_DOMAIN}
OPENSHIFT_VERSION=${OPENSHIFT_VERSION}
OLM_WORKAROUND=${OLM_WORKAROUND}

# Bridge Configuration
BRIDGE_NAME=${BRIDGE_NAME}
SKIP_BRIDGE_CONFIG=${SKIP_BRIDGE_CONFIG}

# Directory structure
MANIFESTS_DIR=${MANIFESTS_DIR}
GENERATED_DIR=${GENERATED_DIR}
POST_INSTALL_DIR=${POST_INSTALL_DIR}
GENERATED_POST_INSTALL_DIR=${GENERATED_POST_INSTALL_DIR}
SSH_KEY=${SSH_KEY}

# DPF Configuration
DPF_VERSION=${DPF_VERSION}
DPF_HELM_REPO_URL=${DPF_HELM_REPO_URL}
OVN_CHART_URL=${OVN_CHART_URL}
OVN_TEMPLATE_CHART_URL=${OVN_TEMPLATE_CHART_URL}
OVN_CHART_VERSION=${OVN_CHART_VERSION}
OVN_DAEMONSET_VERSION=${OVN_DAEMONSET_VERSION}
OVN_KUBERNETES_IMAGE_REPO=${OVN_KUBERNETES_IMAGE_REPO}
OVN_KUBERNETES_IMAGE_TAG=${OVN_KUBERNETES_IMAGE_TAG}
OVN_KUBERNETES_UTILS_IMAGE_REPO=${OVN_KUBERNETES_UTILS_IMAGE_REPO}
OVN_KUBERNETES_UTILS_IMAGE_TAG=${OVN_KUBERNETES_UTILS_IMAGE_TAG}
SRIOV_DP_RESOURCE_PREFIX=${SRIOV_DP_RESOURCE_PREFIX}
SRIOV_DP_CONFIG_NAME=${SRIOV_DP_CONFIG_NAME}
SRIOV_DP_CONFIG_CR_NAME=${SRIOV_DP_CONFIG_CR_NAME}
SRIOV_DP_MGMT_POOL_NAME=${SRIOV_DP_MGMT_POOL_NAME}
INJECTOR_RESOURCE_NAME=${INJECTOR_RESOURCE_NAME}
INJECTOR_CHART_VERSION=${INJECTOR_CHART_VERSION}
OVNK_NAMESPACE=${OVNK_NAMESPACE}
NUM_VFS=${NUM_VFS}

# GitOps Operator Configuration
GITOPS_OPERATOR_CHANNEL=${GITOPS_OPERATOR_CHANNEL}
GITOPS_OPERATOR_VERSION=${GITOPS_OPERATOR_VERSION}

# Maintenance Operator Configuration
MAINTENANCE_OPERATOR_VERSION=${MAINTENANCE_OPERATOR_VERSION}

# Hypershift Configuration
HYPERSHIFT_INSTALL_METHOD=${HYPERSHIFT_INSTALL_METHOD}
MCE_OPERATOR_CHANNEL=${MCE_OPERATOR_CHANNEL}
HYPERSHIFT_IMAGE=${HYPERSHIFT_IMAGE}
HOSTED_CLUSTER_NAME=${HOSTED_CLUSTER_NAME}
CLUSTERS_NAMESPACE=${CLUSTERS_NAMESPACE}
HOSTED_CONTROL_PLANE_NAMESPACE=${HOSTED_CONTROL_PLANE_NAMESPACE}
OCP_RELEASE_IMAGE=${OCP_RELEASE_IMAGE}
DISABLE_HCP_CAPS=${DISABLE_HCP_CAPS}
DPF_CLUSTER_TYPE=${DPF_CLUSTER_TYPE}

# Network Configuration
POD_CIDR=${POD_CIDR}
SERVICE_CIDR=${SERVICE_CIDR}
FLANNEL_POD_CIDR=${FLANNEL_POD_CIDR}
DPU_HOST_CIDR=${DPU_HOST_CIDR}
API_VIP=${API_VIP}
INGRESS_VIP=${INGRESS_VIP}
VTEP_CIDR=${VTEP_CIDR}
NODES_MTU=${NODES_MTU}
PRIMARY_IFACE=${PRIMARY_IFACE}

# MetalLB Configuration
HYPERSHIFT_API_IP=${HYPERSHIFT_API_IP}

# Pull Secret files
OPENSHIFT_PULL_SECRET=${OPENSHIFT_PULL_SECRET}
DPF_PULL_SECRET=${DPF_PULL_SECRET}

# DPU Services Configuration
HBN_HOSTNAME_NODE1=${HBN_HOSTNAME_NODE1}
HBN_HOSTNAME_NODE2=${HBN_HOSTNAME_NODE2}
HBN_HELM_REPO_URL=${HBN_HELM_REPO_URL}
HBN_HELM_CHART_VERSION=${HBN_HELM_CHART_VERSION}
HBN_IMAGE_REPO=${HBN_IMAGE_REPO}
HBN_IMAGE_TAG=${HBN_IMAGE_TAG}

# DTS Service Configuration
DTS_HELM_REPO_URL=${DTS_HELM_REPO_URL}
DTS_HELM_CHART_VERSION=${DTS_HELM_CHART_VERSION}
DTS_IMAGE=${DTS_IMAGE}

# VM Configuration
LIBVIRT_HOST=${LIBVIRT_HOST}
VM_PREFIX=${VM_PREFIX}
VM_COUNT=${VM_COUNT}
RAM=${RAM}
VCPUS=${VCPUS}
DISK_SIZE1=${DISK_SIZE1}
DISK_SIZE2=${DISK_SIZE2}
MAC_PREFIX=${MAC_PREFIX}
VM_STATIC_IP=${VM_STATIC_IP}

# VM Worker Configuration
VM_WORKER_COUNT=${VM_WORKER_COUNT}
VM_WORKER_PREFIX=${VM_WORKER_PREFIX}
VM_WORKER_RAM=${VM_WORKER_RAM}
VM_WORKER_VCPUS=${VM_WORKER_VCPUS}
VM_WORKER_DISK_SIZE1=${VM_WORKER_DISK_SIZE1}
VM_WORKER_DISK_SIZE2=${VM_WORKER_DISK_SIZE2}

# Wait Configuration
MAX_RETRIES=${MAX_RETRIES}
SLEEP_TIME=${SLEEP_TIME}

# Paths
DISK_PATH=${DISK_PATH}
ISO_FOLDER=${ISO_FOLDER}
ISO_TYPE=${ISO_TYPE}
STATIC_NET_FILE=${STATIC_NET_FILE}
WORKER_STATIC_NET_FILE=${WORKER_STATIC_NET_FILE}

# Storage
STORAGE_TYPE=${STORAGE_TYPE}
SKIP_DEPLOY_STORAGE=${SKIP_DEPLOY_STORAGE}
BFB_STORAGE_CLASS=${BFB_STORAGE_CLASS}
BFB_URL=${BFB_URL}

# Bluefield image layer
BLUEFIELD_OCP_IMAGE=${BLUEFIELD_OCP_IMAGE}

# Kubeconfig
KUBECONFIG=${KUBECONFIG}
TARGETCLUSTER_API_SERVER_HOST=${TARGETCLUSTER_API_SERVER_HOST}

# Worker Node Provisioning
WORKER_COUNT=${WORKER_COUNT}
ENABLE_SHORT_WORKER_HOSTNAMES=${ENABLE_SHORT_WORKER_HOSTNAMES}
WORKER_NODE_LABELS=${WORKER_NODE_LABELS}

# Worker 1
WORKER_1_NAME=${WORKER_1_NAME}
WORKER_1_BMC_IP=${WORKER_1_BMC_IP}
WORKER_1_BMC_USER=${WORKER_1_BMC_USER}
WORKER_1_BMC_PASSWORD=${WORKER_1_BMC_PASSWORD}
WORKER_1_BOOT_MAC=${WORKER_1_BOOT_MAC}
WORKER_1_ROOT_DEVICE=${WORKER_1_ROOT_DEVICE}
WORKER_1_REDFISH_SYSTEM_PATH=${WORKER_1_REDFISH_SYSTEM_PATH}
WORKER_1_DPU=${WORKER_1_DPU}

# Worker 2
WORKER_2_NAME=${WORKER_2_NAME}
WORKER_2_BMC_IP=${WORKER_2_BMC_IP}
WORKER_2_BMC_USER=${WORKER_2_BMC_USER}
WORKER_2_BMC_PASSWORD=${WORKER_2_BMC_PASSWORD}
WORKER_2_BOOT_MAC=${WORKER_2_BOOT_MAC}
WORKER_2_ROOT_DEVICE=${WORKER_2_ROOT_DEVICE}
WORKER_2_REDFISH_SYSTEM_PATH=${WORKER_2_REDFISH_SYSTEM_PATH}
WORKER_2_DPU=${WORKER_2_DPU}

# CSR Approval
AUTO_APPROVE_WORKER_CSR=${AUTO_APPROVE_WORKER_CSR}

# Upgrade
MANAGEMENT_UPGRADE_TARGET_VERSION=${MANAGEMENT_UPGRADE_TARGET_VERSION}

# Verification Settings
VERIFY_DEPLOYMENT=${VERIFY_DEPLOYMENT}
VERIFY_MAX_RETRIES=${VERIFY_MAX_RETRIES}
VERIFY_SLEEP_SECONDS=${VERIFY_SLEEP_SECONDS}

# /etc/hosts Management
SKIP_ETC_HOSTS=${SKIP_ETC_HOSTS}

# Traffic Flow Tests Configuration
TFT_REPO_REV=${TFT_REPO_REV}
TFT_TEST_CASES=${TFT_TEST_CASES}
TFT_DURATION=${TFT_DURATION}
TFT_CONNECTION_TYPE=${TFT_CONNECTION_TYPE}
TFT_HOST_NETWORK_NAMESPACE=${TFT_HOST_NETWORK_NAMESPACE}

# Sanity Tests
SANITY_TESTS_OVN_ENABLED=${SANITY_TESTS_OVN_ENABLED}
SANITY_TESTS_OVN_IMAGE=${SANITY_TESTS_OVN_IMAGE}
SANITY_TESTS_OVN_NAMESPACE=${SANITY_TESTS_OVN_NAMESPACE}
SANITY_TESTS_OVN_PING_COUNT=${SANITY_TESTS_OVN_PING_COUNT}
SANITY_TESTS_PING_COUNT=${SANITY_TESTS_PING_COUNT}
SANITY_TESTS_PING_HBN_TO_HBN_PODS=${SANITY_TESTS_PING_HBN_TO_HBN_PODS}
SANITY_TESTS_PODS_WORKLOAD_FILE=${SANITY_TESTS_PODS_WORKLOAD_FILE}
SANITY_TESTS_WORKLOAD_NAMESPACE=${SANITY_TESTS_WORKLOAD_NAMESPACE}

# DPU Worker Config Helm Chart Configuration
DPU_WORKER_CONFIG_CHART_URL=${DPU_WORKER_CONFIG_CHART_URL}
DPU_WORKER_CONFIG_CHART_VERSION=${DPU_WORKER_CONFIG_CHART_VERSION}

# DPF HCP Provisioner Operator Configuration
GENERATE_DPUSERVICETEMPLATE_OVERRIDES=${GENERATE_DPUSERVICETEMPLATE_OVERRIDES}
DPF_HCP_PROVISIONER_OPERATOR_CHART_URL=${DPF_HCP_PROVISIONER_OPERATOR_CHART_URL}
DPF_HCP_PROVISIONER_OPERATOR_NAMESPACE=${DPF_HCP_PROVISIONER_OPERATOR_NAMESPACE}
DPF_HCP_PROVISIONER_OPERATOR_VERSION=${DPF_HCP_PROVISIONER_OPERATOR_VERSION}
DPF_HCP_PROVISIONER_OPERATOR_IMAGE_REPO=${DPF_HCP_PROVISIONER_OPERATOR_IMAGE_REPO}
DPF_HCP_PROVISIONER_OPERATOR_IMAGE_TAG=${DPF_HCP_PROVISIONER_OPERATOR_IMAGE_TAG}
DPFHCPPROVISIONER_PULL_SECRET_NAME=${DPFHCPPROVISIONER_PULL_SECRET_NAME}
DPFHCPPROVISIONER_SSH_SECRET_NAME=${DPFHCPPROVISIONER_SSH_SECRET_NAME}
